<div class="row">
    <div class="card shadow col-sm-4 p-3">

        {{#if error}}
        <center>
            <div class="alert alert-danger" role="alert">
               {{ error }}
            </div>
        </center>
        {{/if}}

        <center>
            <h2>Your Details</h2>
        </center>
        <hr>
        <form action="/insertData" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="name" class="form-control" id="name" name="name" required="true" aria-describedby="name"
                    placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" required="true" name="email" id="email"
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea type="description" class="form-control" name="description" id="description"
                    placeholder="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <div class="card shadow offset-sm-1 col-sm-7 p-3">

        <center>
            <h2>Details View</h2>
        </center>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="tableContent">

                {{#each results}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a class="btn btn-danger" href="/delete/{{id}}">Delete</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>
</div>